body {
  width: 100%;
  background-color:#C5E419;
}

.row2{
--bs-gutter-x: 1.5rem;
--bs-gutter-y: 0;
display: flex;
flex-wrap: wrap;
}

.logo{
  height: 90px;
  width: auto;
}

.divlogo{
  width: 100%;
  padding-left: 30px;
  
}

.divbotonoes{
  align-items: center;
  justify-content: right;
}
.opciones2{
  align-items: center;
  justify-content: right;
  padding-right: 30px;
 }


.botonpr{
  margin: 5px;
}

.botonmenu{
  margin: 5px;
}

.imagenCarrousel {
  margin: 15px;
  height: 170px;
  width: auto;
}

.cardimg{
    margin: 20px;
}

.navbar1 {
  grid-area: navbar1;  
  background-color: #E6F4A2;
}

.main1 {
  grid-area: main1;
  background-color: #C5E419;
}
.main2 {
  grid-area: main2;
  background-color: rgb(196, 230, 202);
}

.divcarrito{
grid-column: 1 / 2;
background-color:white;
width: 100%;
}

.divresumen{
  grid-column: 2 / 2;
  background-color: white;
 width: 100%;
}

.tablaDesc th,td{
  color:  #950501;
  width: 150px;
}

.titulo{
  font-size: 80pt;
}

h2 {
  font-size: 100pt;
  text-transform: capitalize;
  line-height: 3rem;
  color: white;
}

h3{
  color:  #950501;
}
 

.footer1 {
  grid-area: footer1;
  background-color:  #E6F4A2;
  position: relative;
  width: 100%;
  bottom: 0;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 300;
  text-transform: capitalize;
  line-height: 3rem;
  color:  #FE423F;
}
.footer-content p {
  color:  #FE423F;
  max-width: 500px;
  margin: 5px auto;
  line-height: 15px;
  font-size: 14px;
}

